# FOLDERS
.vscode/
logs/

# FILES
*.o

# EXECUTABLES
megaphone
phonebook
banking
brainz
horde
violence
sed
harl
harlFilter
fixed
bsp
claptrap
scavtrap
fragtrap
diamondtrap
polymorphism
brain
material
